.background-svg {
  opacity: 0.5;
  animation: backgroundAnimation 60s infinite alternate;
}

@keyframes backgroundAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}